
<article>

  <span> {{authorSlug}}</span>
  <h1 class="title">{{title}}</h1>
  <h5  >By <a href=""+ {{authorUrl}}+"">{{author}}</a> about {{daysBetween}} days ago</h5>
  <h6 class=category>{{category}}</h6>
  <section class="body">{{{body}}}</section>
   <a href="#" class="read-on">Read On</a>

</article>
